local:
  #dbURI: "AQECAHi4ewtMW3z8+EXn6dv+cNLUdxTs9BT4ZVf+GHbXbYx23wAAAIcwgYQGCSqGSIb3DQEHBqB3MHUCAQAwcAYJKoZIhvcNAQcBMB4GCWCGSAFlAwQBLjARBAyq7lIoSg+tuZ4c8csCARCAQ4lrqAr9Ueoo+PrHL0No9xZ6CebQeoyNq8R4kkeyJgFmGYo+CDpPU5X/45SVTdv2BOkeGe0zcxrGNvpnSERmvboNUxI="
  dbURI: "mongodb://127.0.0.1/trackingtestdb"
  cacheHost: "localhost"
  cachePort: 11211
  apiHost: "slsapi.akwa.io"
  apiLocationHost: "slsapi.akwa.io"
  apiZoneHost: "slsapi.akwa.io"
  apiLocationURI: "/locations/qc/nearbylocation"
  apiZoneURI: "/locations/qc/findzone"
  apiSensorURI: "/things/qc/beacons/filter"
  apiDeviceURI: "/things/qc/getbycode"
  apiBatchURI: "/tracking/qc/batch"
  apiPort: 443
  kms: 0
  validSpeedLimit: 200
  blStreamName: "TrackingBLStream"
  blStreamPartitionKey: "tracking_bl_1"
  pointLocationLambda: "ak-coretracking-dev-ProcessPoints"
  enableDataTypeFilters: 1
  accountNo: "012179919676"
  coreTrackingStream: "LocationPointStream"  
  defaultBeaconUUID: 'b9407f30-f5f8-466e-aff9-25556b57fe6d'
dev:
  #dbURI: "AQECAHi4ewtMW3z8+EXn6dv+cNLUdxTs9BT4ZVf+GHbXbYx23wAAAIswgYgGCSqGSIb3DQEHBqB7MHkCAQAwdAYJKoZIhvcNAQcBMB4GCWCGSAFlAwQBLjARBAyN2K61wJ8Ij7V6YwcCARCAR7STRhfA4F81YglBFHLxrbCjrMODC7vhwzgdA5uUlclOiXz77JSEJ+9iaiQbc2HGENlK9uygl5WCS0as4gCECfsC9VsLP/pF"
  dbURI: "mongodb://172.31.59.255/ak-coretrack-qc"
  cacheHost: "reversegeocache.ouahzc.cfg.use1.cache.amazonaws.com"
  cachePort: 11211
  apiHost: "slsapi.akwa.io"
  apiLocationHost: "slsapi.akwa.io"
  apiZoneHost: "slsapi.akwa.io"
  apiLocationURI: "/locations/qc/nearbylocation"
  apiZoneURI: "/locations/qc/findzone"
  apiSensorURI: "/things/qc/beacons/filter"
  apiDeviceURI: "/things/qc/getbycode"
  apiBatchURI: "/tracking/qc/batch"
  apiPort: 443
  kms: 0
  validSpeedLimit: 200
  blStreamName: "TrackingBLStream"
  blStreamPartitionKey: "tracking_bl_1"
  pointLocationLambda: "ak-coretracking-dev-ProcessPoints"
  enableDataTypeFilters: 1
  accountNo: "012179919676"
  coreTrackingStream: "LocationPointStream"  
  defaultBeaconUUID: 'b9407f30-f5f8-466e-aff9-25556b57fe6d'
